{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block body%}
<body class="layout-centered bg-img" id="login-bg">


  <!-- Main Content -->
  <main class="main-content">

    {% block content %}
      {% if validlink %}

        <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
          <h5 class="mb-6">Change your password</h5>

          <form class="input-line1" method="post">
            {% csrf_token %}
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
            <div class="form-group">
              <label>New Password</label>
              {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label>New Password Confirmation</label>
              {{ form.new_password2|add_class:"form-control" }}
            </div>

            <button class="btn btn-lg btn-block btn-primary" type="submit">Change My Password</button>
          </form>
        </div>

      {% else %}
        <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>
      {% endif %}
    {% endblock %}
  </main>
</body>
{% endblock %}
